############################################################
# Gradle and build outputs
############################################################

# Root and subprojects
.gradle/
**/.gradle/
build/
**/build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

############################################################
# Fabric/Forge/NeoForge dev runtimes
############################################################

run/
**/run/

############################################################
# Java crash logs
############################################################

hs_err_*.log
replay_*.log
*.hprof
*.jfr

############################################################
# Misc project artifacts
############################################################

# Local Yarn mapping dumps or jars (Loom will fetch mappings)
yarn-*.jar

# IDE configs
!.vscode/extensions.json
